
*{
    margin: 0;
    padding: 0;
}

img{
    width: 100%;
}

body{

    min-width: 100vh;

}

section{
    max-width: 83%;
    margin: 120px auto;

}

.new-year-banner{
    margin-top: 50px;
    position: relative;
}


.new-year-banner::after {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    border-radius: 16px;
    background: linear-gradient(to bottom,
            #070211,

            #ffffff00

        );
        pointer-events: none;

}

.banner-content{
    position: absolute;
    text-align: center;
    top: 50%;
    width: 100%;
    color: white;
    transform: translateY(-50%);
    z-index:1;
}

.banner-content h4{
    font-size: 36px;
}

.banner-content h1{
    font-size: 72px;

}

/* Off section  style */
.off-section{
    text-align: center;
}

.off-section h2, .off-section h6{
    color: #ff0000;
    
}

.off-section h2{
    font-size: 88px;
    font-weight: bold;
    /* margin-bottom: 48px; */
}

.off-section h6{
    font-size: 24px;
    font-weight: lighter;
    margin: 48px 0 16px 0;
}

.off-section h4{
    font-size: 48px;
    font-weight: bold;
}

.off-section img{
    width: 50%;
    margin-top: 48px;
}


/* welcome  section style */

.welcome{
    position: relative;

}

.welcome::after{
    content: '';
    position: absolute;
        right: 0;
        top: 0;
        width: 100%;
        height: 100%;
        border-radius: 16px;
    background: linear-gradient(to right,
                #070211,
                #ffffff3b

            );
        pointer-events: none;
    
}

.welcome-container{
    position:absolute;
    top:50%;
    transform: translateY(-50%);
    display: flex;
    justify-content: center;
    align-items: center;
    width:100%;
    margin: 0 auto;
    z-index: 1;
    
}





.welcome-content{
    color:white;
    width: 70%;
    margin-left: 130px;
}

.welcome-content h2{
    font-size: 64px;
    letter-spacing: 11px;
    margin-bottom: 24px;

}
.welcome-container img{
    width:20%;
    margin-right: 140px;
}

.welcome-content p{
    color: #ffffff80;
    margin-bottom: 48px;
}
.welcome-content button{
    background-color: transparent;
    border: none;
    color: white;
    font-size: 20px;
    font-weight: bold;
}

.join {
    position: relative;
    text-align: center;
    /* width: 100%; */

}

/* .join::after{
    content:'';
    position: absolute;
            right: 0;
                top: 0;
                width: 100%;
                height: 100%;
    background-image: linear-gradient(to top, rgba(255, 0, 0, 0), rgba(255, 0, 0, 0.252));
    border-radius: 16px;
    width: 100%;
    z-index: -1;

} */

.join-container{
    padding: 100px 0 100px 0;
    z-index: -1;
    position: relative;
}

.join-container::after{
    content: '';
        position: absolute;
        right: 0;
        top: 0;
        width: 100%;
        height: 100%;
        background-image: linear-gradient(to top, rgba(255, 0, 0, 0), rgba(255, 0, 0, 0.252));
        border-radius: 16px;
        width: 100%;
        z-index:-1;

}

.join-container h3{
    font-size: 32px;
    font-weight: 500;
    margin-bottom: 5px;

}
.join-container  h3 span{
    color: red;

}


.join-container button{
    border: none;
    background-color: red;
    color: white;
    padding: 16px 32px;
    border-radius: 8px;
    margin-top: 48px;
}

.best-offer-section{
    display: flex;
    align-items: center;
    margin: 120px  auto;
    justify-content: space-between;
}

.best-offer-content{
    max-width: 30%;
    margin-right: 70px;

}

.best-offer-content h4{

    color: red;
    font-family:Verdana, Geneva, Tahoma, sans-serif;
    font-size: 24px;
    font-weight: lighter;
    margin-bottom: 5px;
}

.best-offer-content h2{
    font-size: 48px;
    font-weight: bold;
    margin-bottom: 10px;
}


.best-offer-content p{
    color: #07021180;
}

.best-offer-image{
    max-width: 40%;
    margin-right: 100px;
}

.best-offer-image img {
    border:7px solid red;
    border-radius: 50%;
    padding: 20px;

}

.happy-new-year{
    max-width: 30%;
    /* margin-bottom: 20px; */
}

.happy-new-year img{
    max-width: 30%;

}

.happy-new-year h2{
    color: red;
    font-size: 48px;
    margin-bottom:16px;
}


.happy-new-year p{
    color: #07021180;
    margin-bottom: 40px;
}


/* holiday section  style */


.holiday-discount{
    text-align: center;
    padding:0 130px;
}

.holiday-discount h6{
    color: #070211;
    font-size: 24px;
}

.holiday-discount  h2{
    color: #070211;
    font-size: 72px;
    
}

.holiday-discount h2 span{
    color: red;
}

.holiday-discount p{
    color: #07021160;
}


.gift{
    display: flex;
    text-align: right;
    justify-content: end;
    margin-top: 50px;
    
}

.gift img{
    max-width: 100%;
}

.gift-image{
    max-width: 30%;
}

.rectangle{
    position: relative;
}


.gift-image{
    /* left: 20px; */
    left: 10%;
    position: absolute;
    transform: translateY(-50%);
    z-index: 1;
}

/* card section style */
.card-portfolio{
    /* max-width: 50%; */
}

.card-portfolio h6{
    color: red;
    font-size: 24px;
    margin-bottom: 10px;
}

.card-portfolio  h2{
    font-size: 48px;
    font-weight: bold;
    margin-bottom: 10px;
}

.card-portfolio p{
    font-size: 20px;
    color: #07021160;
    margin-bottom: 48px;
}

.card-container{
    max-width: 100%;
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    justify-content: space-around;
}
.card{
    text-align: center;
    align-items: center;
    margin: 10px 10px;
    
}
.card img{
    max-width: 100%;
}
